@import url(./normalize.css);
@import url(./reset.css);

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing:border-box;
}

/* 링크 스타일 */
a{
  color:inherit;
  text-decoration:none;
}

/* body start */
body{
  color:#121212;
  background:#ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* layout */
.header, .visual, .main, .slogan, .footer-inner{
  width:940px;
  margin:0 auto;
}

/* header start */
.header{
  background:#fff;
  height:15vh;
  padding:0 30px;
  border-radius:0 0 15px 15px;
  position:relative;
}

/* logo start */
.logo{
  position:absolute;
  top:45px;
  left:60px;
}

/* member start */
.member{
  text-align:right;
  padding:4px 0;
}

.member li{
  display:inline-block;
}

.member a{
  padding:6px 10px;
  display:inherit;
}

.member li:last-child a{
  padding-right:0;
}

.divider{
  margin-right:4px;
}

/* visual start */
.visual{
  background:orange;
  height:10vh;
}

/* main start */
.main{
  background:lightgreen;
  height:50vh;
  padding:0 15px;
  display:flow-root;
}

.group{
  float:left;
  margin:0 15px;
}

.group1{
  background:violet;
  width:250px;
}

.group2{
  background:salmon;
  width:380px;
}

.group3{
  background:gold;
  width:190px;
}

/* article slogan start */
.slogan{
  background:skyblue;
  height:10vh;
}

/* footer start */
.footer{
  background:coral;
}

.footer-inner{
  background:cornflowerblue;
  height:15vh;
}